/* bg_img */
.bg-img {
    position: absolute;
    width: 1281px;
    height: 574px;
    left: 0px;
    top: 0px;

    background: url(fure_fure_san/fure_fure_san/media_local/bg_img.png);
}


/* Group 168 */
.group_168 {
    position: absolute;
    width: 712px;
    height: 361.17px;
    left: 349px;
    top: 64px;
}


/* アートボード 22 */
.art_board_22 {
    position: absolute;
    width: 95px;
    height: 82.56px;
    left: 117px;
    top: 31px;

    background: url(../fure_fure_san/static_local/art_board_22.png);
}


/* アートボード 26_1 */
.art_board_26_1 {
    position: absolute;
    width: 70px;
    height: 60.83px;
    left: 75.13px;
    top: 169px;

    background: url(../fure_fure_san/static_local/art_board_26_1.png);
    transform: rotate(26.48deg);
}


/* アートボード 27 */
.art_board_27 {
    position: absolute;
    width: 70px;
    height: 60.83px;
    left: 102px;
    top: 480.43px;

    background: url(../fure_fure_san/static_local/art_board_27.png);
    transform: rotate(-24.86deg);
}


/* アートボード 28 */
.art_board_28 {
    position: absolute;
    width: 85px;
    height: 73.87px;
    left: 111px;
    top: 326.26px;

    background: url(../fure_fure_san/static_local/art_board_28.png);
    transform: rotate(-20.13deg);
}


/* アートボード 30 1 */
art_board_30_1 {
    position: absolute;
    width: 760px;
    height: 100.67px;
    left: 260px;
    top: 395px;

    background: url(../fure_fure_san/static_local/art_board_30_1.png);
}



/* アートボード 31 */
.art_board_31 {
    position: absolute;
    width: 95px;
    height: 82.56px;
    left: 1164px;
    top: 275px;

    background: url(../fure_fure_san/static_local/art_board_31.png);
}



/* アートボード 26_1 */
.art_board_26_1 {
    position: absolute;
    width: 70px;
    height: 60.83px;
    left: 1136px;
    top: 484.37px;

    background: url(../fure_fure_san/static_local/art_board_26_1.png);
    transform: rotate(-31.31deg);
}


/* アートボード 32 */
.art_board_32 {
    position: absolute;
    width: 70px;
    height: 60.83px;
    left: 1161px;
    top: 104.14px;

    background: url(../fure_fure_san/static_local/art_board_32.png);
    transform: rotate(-2.57deg);
}



/* アートボード 24 2 */
.art_board_24_2 {
    position: absolute;
    width: 95px;
    height: 82.56px;
    left: 994px;
    top: 23px;

    background: url(../fure_fure_san/static_local/art_board_24_2.png);
}