@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;900&display=swap');

#header_row {
    position: relative;
    z-index: 1;
}

#header_link_row {
    background-color: #89E4E2;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header_link_icon {
    width: 175px;
    height: 100%;
}

.box{
    margin-top: 50px;
    margin-bottom: 50px;
}

#main_label {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #20C9C5;

    transform: rotate(0.03deg);
}

#sub_label {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #20C9C5;

    transform: rotate(0.03deg);
}

.policy_text{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #2B2F36;

    transform: rotate(0.03deg);
}
