@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;900&display=swap');

#question_row {
    background-color: #56D9D6;
    z-index: 0;
    background-image: url("/static/top/pc_img/bg_question_mosaic.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#question_logo {
    padding-top: 88px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    transform: rotate(0.03deg); 
    
    color: #FFE000;
}

#question_about_you {
    padding-top: 8px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;

    transform: rotate(0.03deg); 

    color: #FFFFFF;

}

.choice_title {
    padding-top: 80px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;

    transform: rotate(0.03deg); 
    
    color: #FFFFFF;
}

.choice_title_new_line {
    padding-top: -10px;
    padding-bottom: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.choice_title_icon {
    padding-bottom: 5px;
    width: 27px;
}

.check-box {
    cursor: pointer;
}
  
.check-box input {
    display: none;
}

.check-box input + .text:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 5px 0 0;
    background-image: url("/static/top/common_img/checkbox_not_selected.png");
    background-size: 100% auto, 100%;
    background-position: top 50% left 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
    width: 19px;
    height: 18px;
}

.check-box input:checked + .text:before {
    background-image: url("/static/top/common_img/checkbox_selected.png");
}

.choice_text {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    transform: rotate(0.03deg); 

    color: #FFFFFF;

}

.choice_checkbox_sp {
    margin-left: 20px;
}

.inner_choice_row_sp {
    margin-bottom: 20px;
}

.choice_row_gap {
    margin-top: 10px;
    margin-bottom: 10px;
}

.choice_inner_row {
    margin-top: 32px;
}


#answer_row {
    position: relative;
    background-color: #F7FDFD;
    z-index: 0;

    display: none;
}

#answer_title {
    padding-top: 88px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;

    transform: rotate(0.03deg); 
    
    color: #00C1C3;
}

#furefure_msg_title {
    margin-top: 0px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 55px;

    transform: rotate(0.03deg); 
    
    color: #2B2F36;
}

#furefure_msg_row {
    z-index: 0;
    background: #F7FDFD;
    background-image: url("/static/top/common_img/bg_answer.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;

    display: none;
}

#fure_fure_msg_loading {
    color: #89E4E2;
}

.furefure_msg_title_new_line {
    padding-top: -20px;
    padding-bottom: -20px;
    margin-top: -20px;
    margin-bottom: -20px;
}

/* answer_imgに合わせる */
#furefure_msg_body_loading {
    padding-top: 110px;
    padding-bottom: 113.78px;
    display: none;
}

#furefure_msg_body_answer {
    display: none;
}

.answer_img {
    width: auto;
    height: 260px;
    display: none;
}

.answer_text {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    /* or 182% */
    
    letter-spacing: 0.02em;
    transform: rotate(0.03deg); 
    color: #2E3540;
}


#sns_share_row {
    margin-top: 400px;
}

.choice_error_label_pos {
    position: relative;
}

.exclamation_mark {
    width: 24px;
    height: 27px;
    margin-right: 10px;
    margin-bottom: 3px;
}

.choice_error_label {
    position: absolute;
    left:  -40px;
    top: -80px;
    z-index: 1;
    background: #FCEFF4;
    border-radius: 8px;
    padding: 8px 16px;
    display: none;

    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    
    letter-spacing: 0.02em;
    
    color: #FF055F;
}

.choice_error_label_sub {
    content: "";
    position: absolute;
    margin: 0;
    bottom: -10px;
    z-index: -1;
    left: 45%;
    width: 0;
    height: 0;
    border-top: 40px solid #FCEFF4;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    transform: rotate(15deg);
}