.top-title {
    position: absolute;
}

/* トップページタイトルの背景 */
.Bg_mosaic {
    position: relative;
    width: 100%;
}

/* トップページタイトルの背景の黄色いアイコングループ */
.Bg_yellow_icon-small {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}

/* トップページタイトルの背景の黄色いアイコングループ */
.Bg_yellow_icon-small2 {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
}


/* トップページボディの背景 */
.Bg-green {
    position: absolute;
    width: 100%;
    /* background: #56D9D6; */
}







/* top_main */
.top_main {
    /* position: relative; */
    width: 688.53px;
    height: 338.41px;
    left: 295.47px;
    top: 141.57px;
}


/* text */
.text {
    position: absolute;
    width: 618px;
    height: 87px;
    left: 313px;
    top: 80px;
}




/* Bg_mosaic_body */
.Bg_mosaic_body {
    position: absolute;
    width: 1280px;
    height: 967px;
    left: 0px;
    top: 570px;
    z-index: 20;
}


/* Choice_bg */
.Choice_bg-1 {
    position: absolute;
    width: 1062px;
    height: 168px;
    left: 109px;
    top: 890px;

    background: #20C9C5;
    border-radius: 16px;

    z-index: 60;
}


/* Choice_bg */
.Choice_bg {
    position: absolute;
    width: 1062px;
    height: 108px;
    left: 109px;
    top: 1178px;

    background: #20C9C5;
    border-radius: 16px;
    z-index: 60;
}


/* Group 282

position: absolute;
width: 365px;
height: 52px;
left: 806px;
top: 868px; */


/* Auto layout */
/* button_cta */
.button_cta {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 120px;
    gap: 10px;

    position: absolute;
    width: 456px;
    height: 84px;
    left: 412px;
    top: 1366px;

    background: #FFE000;
    border-radius: 100px;

    z-index: 60;
}


/* Auto layout */
/* Choice_title */
.Choice_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 420px;
    height: 32px;
    left: 430px;
    top: 1130px;

    z-index: 60;
}


/* Auto layout */
/* Choise_radio */
.Choise_radio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 454px;
    height: 28px;
    left: 413px;
    top: 1220px;

    z-index: 70;
}


/* Auto layout */
/* Choise_radio */
.Choise_radio-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 785px;
    height: 28px;
    left: 247px;
    top: 930px;

    z-index: 70;
}


/* Auto layout */
/* Choise_radio */
.Choise_radio-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 858px;
    height: 28px;
    left: 211px;
    top: 990px;

    z-index: 70;
}


/* Auto layout */
/* Choice_title */
/* .Choice_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 396px;
    height: 32px;
    left: 442px;
    top: 826px;
} */


/* Tell_me */
/* .Tell_me {
    position: absolute;
    left: 30.31%;
    right: 30.31%;
    top: 28.05%;
    bottom: 70.02%;
    z-index: 40;
} */
.Tell_me {
    position: relative;
    left: 30.31%;
    top: 128px;
    z-index: 40;
}

/* Display Large */
.Display Large {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
}

/* identical to box height, or 133% */
.identical_to_box_height_1 {
    display: flex;
    align-items: center;

    color: #FFFFFF;
}


/* Question */
/* .Question {
    position: relative;
    left: 45.62%;
    right: 45.62%;
    top: 26.45%;
    bottom: 72.27%;
    z-index: 30;
} */
.Question {
    position: relative;
    left: 45.62%;
    top: 88px;
    z-index: 30;
}

/* Headline Large */
.Headline_Large {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}

/* identical to box height, or 133% */
.identical_to_box_height_2 {
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFE000;
}


.Choice_title-1 {
    position: relative;
    left: 474px;
    top: 256px;
    width: 364px;
    height: 32px;
    z-index: 50;

    display: flex;
    align-items: center;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}


/* Footer */
.Footer {
    position: absolute;
    width: 1280px;
    height: 148px;
    left: 0px;
    top: 2340px;
}


/* Bg_color #F7FDFD */
.Bg_color_D {
    position: absolute;
    width: 1280px;
    height: 800px;
    left: 0px;
    top: 1538px;

    background: #F7FDFD;
}


/* icon_loading */
.icon_loading {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 616px;
    top: 1959px;
}


/* Bg_icon */
.Bg_icon {
    position: absolute;
    width: 1280px;
    height: 364px;
    left: 0px;
    top: 1651px;
    /* opacity: 0.3; */
}


/* Group 262 */
.Group_262 {
    position: absolute;
    width: 448px;
    height: 92px;
    left: 416px;
    top: 1625px;
}