#title_row {
    z-index: 0;
    position: relative;
}

#title_mosaic {
    z-index: 0;
    position: relative;
    background-image: url("/static/top/pc_img/bg_mosaic_pc.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.remove_width_padding {
    padding-left: 0px;
    padding-right: 0px;
}

.header_yellow_icon {
    position: relative;
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
}

.header_title {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 50%;
    height: 50%;
}

.choice_row {
    background: #20C9C5;
    border-radius: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 32px;
    margin-left: 100px;
    margin-right: 100px;
}

#reception_msg_btn {
    margin-top: 80px;
    margin-bottom: 87px;
    background: #FFE000;
    border-radius: 100px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    padding: 24px 120px;

    color: #2B2F36;
}