#title_row {
    position: relative;
}

#title_mosaic {
    position: relative;
    background-image: url("/static/top/pc_img/bg_mosaic_pc.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.remove_width_padding {
    padding-left: 0px;
    padding-right: 0px;
}

@media only screen and (min-width: 768px) {
    .header_yellow_icon {
        width: 100%;
        height: 100%;
        padding: 74px 0px;
        background-position: center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 768px) {
    .header_title {
        position: absolute;
        width: 36%;
        height: 75%;
        top: 51%;
        left: 48%;
        transform: translateY(-50%) translateX(-50%);
    }
}

.choice_row {
    background: #20C9C5;
    border-radius: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 32px;
    margin-left: 100px;
    margin-right: 100px;
}

#reception_msg_btn {
    margin-top: 80px;
    margin-bottom: 87px;
    background: #FFE000;
    border-radius: 100px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    padding: 24px 120px;

    transform: rotate(0.03deg);

    color: #2B2F36;
}

.answer_img_class {
    margin-right: 40px;
}

.speech_bubble1 {
    position: absolute;
    left: 5px;
    top: 0px;
    width: 14%;
    height: auto;
    z-index: 1;
}

.speech_bubble2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 12%;
    height: auto;
    z-index: 1;
}

.speech_bubble3 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 12%;
    height: auto;
    z-index: 1;
}

.speech_bubble4 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 12%;
    height: auto;
    z-index: 1;
}

#furefure_msg_row {
    background: #F7FDFD;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}

.bg_answer_left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: auto;
    opacity: 0.33;  /* figmaからダウンロードすると透過されていなかったのでCSSで透過設定 */
    margin-top: 100px;
    z-index: 0;
}

.bg_answer_right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
    height: auto;
    opacity: 0.33;  /* figmaからダウンロードすると透過されていなかったのでCSSで透過設定 */
    margin-top: 100px;
    z-index: 0;
}

.choice_error_label {
    position: absolute;
    left: -40px;
    top: -80px;
    z-index: 1;
    background: #FCEFF4;
    border-radius: 8px;
    padding: 8px 16px;
    display: none;

    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    letter-spacing: 0.02em;

    color: #FF055F;
}

.choice_error_label_sub {
    content: "";
    position: absolute;
    margin: 0;
    bottom: -10px;
    z-index: -1;
    left: 45%;
    width: 0;
    height: 0;
    border-top: 40px solid #FCEFF4;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    transform: rotate(15deg);
}

.sns_share_icon_img {
    height: 64px;
    margin-left: 11px;
    margin-right: 11px;
}

#sns_share_box {
    background: #EEFBFB;
    border-radius: 16px;
    padding-top: 40px;
    padding-bottom: 48px;
    margin-left: 100px;
    margin-right: 100px;
}

#sns_share_mark_left {
    color: #FFE000;
    margin-right: 20px;
}

#sns_share_mark_right {
    color: #FFE000;
    margin-left: 20px;
}

.footer_link_msg_terms {
    margin-right: 55px;
}