{% extends 'base.html' %}
{% block meta_title %}フレフレさん|トップ{% endblock %}

{% load static %}

{% block css %}
<link href="{% static 'top/top_pc.css' %}" rel="stylesheet" media="screen and (min-width:751px)">
<link href="{% static 'top/top_sp.css' %}" rel="stylesheet" media="screen and (max-width:750px)">
<link href="{% static 'top/top_common.css' %}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;900&display=swap" rel="stylesheet">
{% endblock %}

<!DOCTYPE html>
<html lang="ja">

<head>
  {% block head %}{% endblock %}
  {% block title %}TOP{% endblock %}
</head>

<body>
  <div>{% block header %}{% endblock header %}</div>
  {% block contents %}


  <div class="container-fluid">
    <div id="question_row" class="row">
      <div class="col-12">
        <div id="question_body">
          <div id="question_contents">
            <div id="question_bg_mosaic">
              <picture>
                <source media="(min-width: 751px)" srcset="{% static 'top/pc_img/bg_question_mosaic.png' %}">
                <img src="" id="question_bg_mosaic_img">
              </picture>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <div id="question_logo">Question</div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <div id="question_about_you">あなたのことを教えてください</div>
              </div>
            </div>
            <div class="row" id="category_title">
              <div class="col-12 text-center">
                <img src="{% static 'top/common_img/choice_title.png' %}" class="choice_title">
                <span id="choice_title_new_line" class="d-block d-sm-none">
                  <br>
                </span>
                当てはまる"状況"はありますか？
              </div>
            </div>
            <div class="row" id="category_choice">
              <div class="category_choice_margin_top"></div>
              <!--SP用 -->
              <div class="d-block d-sm-none">
                <div class="row">
                  <div class="col-1 sp_category_choice_checkbox">
                    <label class="check-box">
                      <input type="checkbox" id="category_choice1" class="category_choice1"><span class="text category"></span>
                    </label>
                  </div>
                  <div class="col-10">
                    <label class="check-box" for="category_choice1">
                      <span class="text category" >何もしてないのに壊れた</span>
                    </label>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row">
                  <div class="col-1 sp_category_choice_checkbox">
                    <label class="check-box">
                      <input type="checkbox" id="category_choice2" class="category_choice2"><span class="text category"></span>
                    </label>
                  </div>
                  <div class="col-10">
                    <label class="check-box" for="category_choice2">
                      <span class="text category" >ある事象を完全に理解した</span>
                    </label>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row">
                  <div class="col-1 sp_category_choice_checkbox">
                    <label class="check-box">
                      <input type="checkbox" id="category_choice3" class="category_choice3"><span class="text category"></span>
                    </label>
                  </div>
                  <div class="col-10">
                    <label class="check-box" for="category_choice3">
                      <span class="text category" >今日も真理を探している</span>
                    </label>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row">
                  <div class="col-1 sp_category_choice_checkbox">
                    <label class="check-box">
                      <input type="checkbox" id="category_choice4" class="category_choice4"><span class="text category"></span>
                    </label>
                  </div>
                  <div class="col-10">
                    <label class="check-box" for="category_choice4">
                      <span class="text category" >モチベーションにムラがあります＞＜</span>
                    </label>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row">
                  <div class="col-1 sp_category_choice_checkbox">
                    <label class="check-box">
                      <input type="checkbox" id="category_choice5" class="category_choice5"><span class="text category"></span>
                    </label>
                  </div>
                  <div class="col-10">
                    <label class="check-box" for="category_choice5">
                      <span class="text category" >今日も真理を探している</span>
                    </label>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row">
                  <div class="col-1 sp_category_choice_checkbox">
                    <label class="check-box">
                      <input type="checkbox" id="category_choice6" class="category_choice6"><span class="text category"></span>
                    </label>
                  </div>
                  <div class="col-10">
                    <label class="check-box" for="category_choice6">
                      <span class="text category" >当てはまるものはない</span>
                    </label>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="category_choice_margin_bottom"></div>
              </div>

              <!--PC用 -->
              <div class="d-none d-sm-block">
                <div class="row">
                  <div class="col-4 text-center">
                    <label class="check-box">
                      <input type="checkbox" class="category_choice1"><span class="text category">何もしてないのに壊れた</span>
                    </label>
                  </div>
                  <div class="col-4 text-center">
                    <label class="check-box">
                      <input type="checkbox" class="category_choice2"><span class="text category">ある事象を完全に理解した</span>
                    </label>
                  </div>
                  <div class="col-4 text-center">
                    <label class="check-box">
                      <input type="checkbox" class="category_choice3"><span class="text category">今日も真理を探している</span>
                    </label>
                  </div>
                </div>

                <div class="category_choice_margin_bottom"></div>

                <div class="row">
                  <div class="col-4 text-center">
                    <label class="check-box">
                      <input type="checkbox" class="category_choice4"><span class="text category">モチベーションにムラがあります＞＜</span>
                    </label>
                  </div>
                  <div class="col-4 text-center">
                    <label class="check-box">
                      <input type="checkbox" class="category_choice5"><span class="text category">今日も真理を探している</span>
                    </label>
                  </div>
                  <div class="col-4 text-center">
                    <label class="check-box">
                      <input type="checkbox" class="category_choice6"><span class="text category">当てはまるものはない</span>
                    </label>
                  </div>
                </div>
                <div class="category_choice_margin_bottom"></div>
              </div>

            </div>
          </div>
        </div>          
      </div>
    </div>
  </div>


  {% block footer %}
  {% endblock %}

  {% endblock contents %}

</body>

</html>

{% block js %}
<script
src="https://code.jquery.com/jquery-3.6.1.slim.js"
integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk="
crossorigin="anonymous">
</script>
<script>

function get_category_choice_class_name(elem) {
  const class_list = elem.attr('class').split(" ");
  let res = null;

  class_list.forEach(function(elem, index) {
    if(elem.match(/category_choice/)) {
      res = elem;
      return;
    }
  });

  return res;
}

$(document).ready( function(){
  $("[class^='category_choice']").on("click", function() {
    const clicked_category_class_name = get_category_choice_class_name($(this));
    $("[class^='category_choice']").each(function() {
      const category_class_name = get_category_choice_class_name($(this));
      if(clicked_category_class_name == category_class_name) {
        $(this).prop('checked', true);
      }
      else {
        $(this).prop('checked', false);
      }
    });
  });
});
</script>
{% endblock %}