{% extends 'base.html' %}
{% block meta_title %}フレフレさん|トップ{% endblock %}

{% load static %}

{% block css %}
<link href="{% static 'top/top_wide.css' %}" rel="stylesheet" media="screen and (min-width:570px)">
<link href="{% static 'top/top_normal.css' %}" rel="stylesheet" media="screen and (max-width:569px)">
<link href="{% static 'top/top_sp.css' %}" rel="stylesheet" media="screen and (max-width:425px)">
{% endblock %}

<!DOCTYPE html>
<html lang="ja">

<head>
  {% block head %}{% endblock %}
  {% block title %}TOP{% endblock %}
</head>

<body>
  <div>{% block header %}{% endblock header %}</div>
  {% block contents %}

  <div class="wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 px-0">
          <div id="">
            <picture>
              <source media="(min-width: 570px)" srcset="{% static 'top/pc_img/bg_header_wide.png' %}">
              <source media="(min-width: 426px)" srcset="{% static 'top/pc_img/bg_header_normal.png' %}">
              <source media="(max-width: 425px)" srcset="{% static 'top/sp_img/bg_header_sp.png' %}">
              <img src="top/sp_img/bg_header_sp.png" class="bg_header">
            </picture>
          </div>
          <div class="">
            <!-- <picture>
              <source media="(min-width: 751px)" srcset="{% static 'top/pc_img/Bg-green.png' %}">
              <source media="(max-width: 750px)" srcset="{% static 'top/sp_img/sp_Bg-green.png' %}">
              <img src="{% static 'top/pc_img/Bg-green.png' %}" class="Bg-green">
            </picture> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-12 px-0 top-title">
        </div>
      </div>
    </div> -->

  </div>

  {% block footer %}
  {% endblock %}

  {% endblock contents %}
</body>

</html>